$pageWidth: get(pageWidth);
$pageHeight: get(pageHeight);
$pageMargins: get(pageMargins);
$pageWidthIn: $pageWidth + 0in;
$pageHeightIn: $pageHeight + 0in;
$pageMarginsIn: $pageMargins + 0in;

.pic {
  width: 100%;
}

.noPrintBeforeInject {
  display: none;
}

.onlyPrint {
  display: block;
}

.onlyPrintAfterInject {
  display: none;
}

.sideLeft {
  width: 60%;
}

.sideRight {
  width: 40%;
}

.tableWidth {
  width: 100%;
}

.breakHere {
  display: none;
}

@media print {
  .rootPrint {
    padding-top: 0px !important;
  }

  .noPrint {
    display: none;
  }

  .onlyPrintAfterInject {
    display: block !important;
  }

  .displayBlock {
    display: block !important;
    margin: 0px !important;
  }

  .breakHere {
    display: block;
    page-break-after: always !important;
  }

  // http://ryanve.com/lab/resolution/
  @page {
    size: $pageWidthIn $pageHeightIn;
    margin: $pageMarginsIn;
  }
}
