.test {
  color: red;
}

.onlyprint {
  display: none;
}

.onlyprintafterinject {
  display: none;
}

.whynot {
  display: inline-block;
}

.sideLeft {
  width: 60%;
}

.sideRight {
  width: 40%;
}

.tablewidth {
  width: 100%;
}

.dontdisplaytest {
  display: none;
}

@media print {
  .rootprint {
    padding-top: 0px !important;
  }

  .noprint {
    display: none;
  }

  .onlyprintafterinject {
    display: block !important;
  }

  .displayblock {
    display: block !important;
    margin: 0px !important;
    orphans: 12;
  }

  .alwaysBreak {
    page-break-after: always !important;
  }

  @page {
    size: 7.5in 10in;
    margin-top: 0mm;
    margin-bottom: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
  }
}
