// or Import Bootstrap Flex
// @import "bootstrap-flex";
// or Import Bootstrap Grid
// @import "bootstrap-grid";
// or Import Bootstrap Reboot
// @import "bootstrap-reboot";
// Import Bootstrap for Sass
@import "bootstrap";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Show Grid for Dev

/*div[class="row"] {
 border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="col"] {
 border: dotted rgba(255, 0, 0, 0.2);
}*/

// Breakpoint Specific CSS
html {
 font-size: 10px;
 @include media-breakpoint-up(sm) {
  font-size: 12px;
 }
 @include media-breakpoint-up(md) {
  font-size: 14px;
 }
 @include media-breakpoint-up(lg) {
  font-size: 16px;
 }
}

// Lists
ul,
li[class^="list-"] {
 border: 0;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-left: 0px;
 display: inline-block;
}

li:before {
 content: "\f069";
 font-family: FontAwesome;
 padding-right: 5px;
 position: relative;
 top: 4px;
 font-size: 0.60em;
 float: left;
 color: #000;
 @include media-breakpoint-up(sm) {
  top: 4px;
 }
 @include media-breakpoint-up(md) {
  top: 5px;
 }
 @include media-breakpoint-up(lg) {
  top: 6px;
 }
}

// General CSS
.body {
 padding-top: 10px;
}

.degree {
 padding-bottom: 10px;
}

span.avoidwrap {
 display: inline-block;
}

.job-date {
 text-align: right;
 padding-top: 2px;
}

.job-company-location,
.job-company-description {
 padding-bottom: 0px;
}

.skillset {
 padding-top: 10px;
}

.contact,
.links,
.description,
.job {
 padding-bottom: 15px;
}

h5 {
 margin-top: 5px;
 margin-bottom: 0px;
}

.expst:before {
 content: "+ ";
 font-family: "Lucida Console";
 padding-right: 5px;
 top: -2px;
 position: relative;
 font-size: 1.5em;
 color: #000;
 float: left;
}

.colst:before {
 content: "- ";
 font-family: "Lucida Console";
 padding-right: 5px;
 top: -2px;
 position: relative;
 font-size: 1.5em;
 color: #000;
 float: left;
}

// Print Stylesheet
@media print {
 ::first-letter {
  margin: 0;
  padding: 0;
 }
 .html {
  color: black;
 }
 .links {
  display: none;
 }
}