// or Import Bootstrap Flex
// @import "bootstrap-flex";
// or Import Bootstrap Grid
// @import "bootstrap-grid";
// or Import Bootstrap Reboot
// @import "bootstrap-reboot";
// Import Bootstrap for Sass
@import "bootstrap";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Show Grid for Dev
div[class="row"] {
 border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="col"] {
 border: dotted rgba(255, 0, 0, 0.2);
}

// Breakpoint Specific CSS
.job-date {
 text-align: right;
 padding-top: 2px;
}

html {
 font-size: 10px;
 @include media-breakpoint-up(sm) {
  font-size: 12px;
 }
 @include media-breakpoint-up(md) {
  font-size: 14px;
 }
 @include media-breakpoint-up(lg) {
  font-size: 16px;
 }
}

// Lists
ul,
li[class^="list-"] {
 border: 0;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-left: 15px;
 display: inline-block;
}

li:before {
 content: "\f069";
 font-family: FontAwesome;
 padding-right: 5px;
 float: left;
 color: #000;
}

// General CSS
.degree {
 padding-bottom: 10px;
}

span.avoidwrap {
 display: inline-block;
}

.job-company-location {
 padding-bottom: 0px;
}

.job-company-description {
 padding-bottom: 0px;
}

h5 {
 margin-top: 5px;
 margin-bottom: 0px;
}

.skillset {
 padding-top: 10px;
}

.contact,
.links,
.description,
.job {
 padding-bottom: 15px;
}